/*Write all of your CSS here*/
body{
    background-color: #222222;
    font-family: arial;
    color: white;
    text-align: center;
}
h1{
    color: #55aaff;
    text-align: center;
    font-size: 36px;
}
.quotedetails{
    border: 1px solid #55aaff;
    background-image: linear-gradient(to bottom, #bbbbff, #55aaff);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*margin-top: 5px;*/
    margin-bottom: -18px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    text-align: center;
    /*width: 50%;*/
    /*opacity: 0.5;*/
}
.quotetext{
    /*border: 1px solid #55aaff;*/
    background-color: #333333;
    /*border-radius: 10px;*/
    margin-top: 0px;
    margin-bottom: -18px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
    font-size: 24px;

}
.quoteid{
    background-color: #333333;;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.quotedelete{
    background-color: #333333;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}
.quotebottom{
    background-color: #333333;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.selected{
    /*font-size: 24px;*/
    transform: scale(1.25, 1.25);
}